.control-panel-container {
    height: 100vh;
    width: 100vw;
    background-color: #add8e6; /* light gently blue */
    font-family: 'Helvetica Neue', sans-serif; /* Apple-style font */
    display: flex;
    flex-direction: column;
}

.nav-bar-container {
    height: 100px;
    width: 100vw;
    background-color: #f1f1f1; /* light gently blue */
    display: flex;
    align-items: center; 
}

.control-panel-body-container {
    height: 100%;
    width: 100vw;
    background-color: #ffffff; /* light gently blue */
    display: flex;
}

.logo {
    width: 300px;
    margin: 5px;
}

.logout-button {
    width: 150px;
    position: absolute;
    right: 0;
    margin: 10px;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #4682b4; /* lighter blue */
    background-color: #4682b4; /* lighter blue */
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #4169e1; /* slightly darker blue on hover */
}

.control-panel-body-left {
    margin: 25px;
    border-radius: 20px;
    height: 95%;
    width: 60vw;
    background-color: #a0cfd2; /* light gently blue */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.orders-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.queued-order-container {
    position: absolute;
    align-items: center;
    left: 0;
    top: 0;
    margin-left: 75px;
}

.filled-orders-container {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 75px;
}

.queued-order {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filled-order {
    
}

.control-panel-body-right {
    margin: 25px;
    border-radius: 20px;
    height: 95%;
    width: 40vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modify-menu-button {
    width: 100px;
    position: relative;
    font-size: 12px;
    padding: 10px 20px;
    border: 2px solid #44b21576;
    background-color: #44b21576;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.modify-menu-button:hover {
    background-color: #44b215ac;
}

.take-order-button {
    width: 200px;
    position: absolute;
    bottom: 0;
    margin: 20px;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #1ca10dad;
    background-color: #1ca10dad;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.take-order-button:hover {
    background-color:#1ca10ddf;
}

.stop-order-button {
    width: 150px;
    position: relative;
    margin: 20px;
    font-size: 16px;
    padding: 10px 20px;
    border: 2px solid #be5454;
    background-color: #be5454;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.stop-order-button:hover {
    background-color: #be2525;
}

.ordering-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e344c; /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust spacing between items */
}

.menu-item {
    margin: -10px;
    display: flex;
    align-items: center;
}

.item-name {
    flex: 1;
}

.item-price {
    margin-right: 10px; /* Adjust spacing between name and price */
}

.red-trash-icon {
 width: 15px;
 border-radius: 5px;
 margin-right: 5px;
}

.red-trash-icon:hover {
    background-color: #ba000023;
}

.check-icon {
    position: relative;
    display: inline-block;
    width: 25px;
    border-radius: 5px;
    margin-right: 5px;
}

.check-icon:hover {
    background-color: #3aa23823;
}

.remove-icon {
    width: 25px;
    border-radius: 5px;
    margin-right: 5px;
}

.remove-icon:hover {
    background-color: #ba000023;
}
  